<med-table
  [data]="store.list"
  [loading]="loading"
  [config]="tableConfig"
  [tableDataTemplate]="tableDataTemplate"
>
  <ng-template #tableDataTemplate let-data let-item="item" let-config="config">
    <ng-container [ngSwitch]="config.key">
      <ng-container *ngSwitchCase="'name'" >
        <a [routerLink]="['/supply', item.id]" [queryParams]="getQuery(item)">
          {{ data }}
        </a>

        <button
          *ngIf="!item.status.is_final"
          pButton
          type="button"
          label="Отримано"
          class="mt-2 ml-2 p-0"
          (click)="dialogChangeStatus = item"
        ></button>
      </ng-container>

      <span
        *ngSwitchCase="'status.name'"
        [class]="item.status.is_final ? 'final-status' : ''"
      >
        {{ data }}
      </span>
    </ng-container>
  </ng-template>
</med-table>

<app-change-status-form
  *ngIf="dialogChangeStatus"
  [data]="dialogChangeStatus"
  (closeModal)="dialogChangeStatus = undefined"
></app-change-status-form>
