<med-table [data]="data" [loading]="loading" [config]="tableConfig">
  <ng-template mTemplate="tableData" let-data let-item="item" let-config="config">
    <ng-container [ngSwitch]="config.key">
      <ng-container *ngSwitchCase="'name'" >
        <a [routerLink]="['/supply', item.id]" [queryParams]="getQuery(item)">
          {{ data }}
        </a>

        <button
          *ngIf="!item.status.is_final && store.isNotManager"
          pButton
          type="button"
          label="Отримано"
          class="mt-2 ml-2 p-0"
          (click)="dialogChangeStatus = item"
        ></button>
      </ng-container>

      <span
        *ngSwitchCase="'status.name'"
        [class]="item.status.is_final ? 'final-status' : ''"
      >
        {{ data }}
      </span>
    </ng-container>
  </ng-template>

  <ng-template mTemplate="paginator">
    <label for="checkedFinalStatus" class="flex align-items-center">
      <p-inputSwitch
        inputId="checkedFinalStatus"
        [(ngModel)]="checkedFinalStatus"
      ></p-inputSwitch>
      <span class="ml-2">Приховати планові поставки</span>
    </label>
  </ng-template>
</med-table>

<app-change-status-form
  *ngIf="dialogChangeStatus"
  [data]="dialogChangeStatus"
  (closeModal)="dialogChangeStatus = undefined"
></app-change-status-form>
