<nav>
  <a
    class="p-button p-button-text link"
    [routerLink]="['/supply', parentId]"
    [queryParams]="queryParams"
  >
    <i class="pi pi-arrow-left link__icon"></i>
    <span class="link__text">Назад</span>
  </a>
</nav>

<med-table
  [data]="store.list"
  [loading]="loading"
  [config]="tableConfig"
  [settings]="tableSettings"
  (updateColumn)="onUpdateColumn($event)"
>
  <ng-template mTemplate="toolbar">
    <ul class="list">
      <li class="list__item">
        <span class="list__item-title">Кількість поставки</span>
        {{ supply.quantity }}
      </li>

      <li class="list__item mb-0">
        <span class="list__item-title">Залишок поставки</span>
        {{ supply.delivery_balance }}
      </li>
    </ul>
  </ng-template>
</med-table>
