<nav>
  <a
    class="p-button p-button-text link"
    [routerLink]="['/supply', parentId]"
    [queryParams]="queryParams"
  >
    <i class="pi pi-arrow-left link__icon"></i>
    <span class="link__text">Назад</span>
  </a>
</nav>

<p-toolbar>
  <div class="flex align-items-center w-full md:flex-row flex-column">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-file-excel"
      class="p-button-rounded p-button-success mb-4 md:mb-0 md:mr-4"
      (click)="tableRef.exportData()"
    ></button>

    <ul class="list">
      <li class="list__item">
        <span class="list__item-title">Назва</span>
        {{ supply.name }}
      </li>

      <li class="list__item">
        <span class="list__item-title">Кількість поставки</span>
        {{ supply.quantity }}
      </li>

      <li class="list__item mb-0">
        <span class="list__item-title">Залишок поставки</span>
        {{ supply.delivery_balance }}
      </li>
    </ul>
  </div>
</p-toolbar>


<med-table
  #tableRef
  [data]="store.list"
  [loading]="loading"
  [config]="tableConfig"
  [settings]="tableSettings"
  (updateColumn)="onUpdateColumn($event)"
></med-table>
