<nav>
  <a class="p-button p-button-text link" routerLink="/">
    <i class="pi pi-arrow-left link__icon"></i>
    <span class="link__text">Назад</span>
  </a>
</nav>

<med-table [data]="store.list" [loading]="loading" [config]="tableConfig">
  <ng-template mTemplate="tableData" let-data let-item="item" let-config="config">
    <ng-container [ngSwitch]="config.key">
      <a
        *ngSwitchCase="'delivery_balance'"
        [routerLink]="['/supply', pageId, 'zoz', item.item_id ]"
        [queryParams]="queryParams"
        [class]="item.delivery_balance ? 'yellow' : 'green'"
        class="status link"
      >
        {{ data }}
      </a>
    </ng-container>
  </ng-template>
</med-table>
