<nav>
  <a class="p-button p-button-text link" routerLink="/">
    <i class="pi pi-arrow-left link__icon"></i>
    <span class="link__text">Назад</span>
  </a>
</nav>

<med-table
  #tableRef
  [data]="store.list"
  [loading]="loading"
  [config]="tableConfig"
  [settings]="tableSettings"
>
  <ng-template mTemplate="paginator">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-file-excel"
      class="p-button-rounded p-button-success mr-4"
      (click)="tableRef.exportData()"
    ></button>
  </ng-template>

  <ng-template mTemplate="tableData" let-data let-item="item" let-config="config">
    <ng-container [ngSwitch]="config.key">
      <a
        *ngSwitchCase="'delivery_balance'"
        [routerLink]="['/supply', pageId, 'zoz', item.item_id ]"
        [queryParams]="queryParams"
        [class]="item.delivery_balance ? 'yellow' : 'green'"
        class="status link"
      >
        {{ data }}
      </a>
    </ng-container>
  </ng-template>
</med-table>
